body {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 5px;
}

body > * {
    text-align: center;
}

body > .nav {
    width: 100px;
    height: 100vh;
    /*grid-column: span 1;*/
    grid-row: span 2;
    left: 0px;
    background: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    gap: 20px;
}

.nav > .logo {
    width: 68px;
    height: 34px;
    margin-left: 16px;
    margin-top: 52px;
    justify-self: center;
    align-self: center;
    position: relative;
}

hr {
    width: 62.24px;
    height: 4px;
    color: var(--secondary-color);
    align-self: center;

}

.nav-link {
    margin-left: 11px;
    height: 57px;
    width: 89px;
    border-radius: 25px 0 0 25px;
    display: flex;
    justify-content: center;
}

.nav-link:first-of-type {
    background-color: #fff;
}

.nav-link * {
    place-self: center;
}

.nav-link a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 500;
    align-self: center;
    display: none;
}

body > .nav:hover {
    width: 206px;
    align-content: center;
}

body > nav:hover + nav-link a {
    display: block;
}

body > .footer {
    grid-column: 2 / span 1;
    height: 35px;
    align-self: end;

}
body > .main-content {
    grid-column: 2 / span 1;
    height: max-height;
}



