
/*body > * {
    text-align: center;
}*/

body {
    background-color: #E5E5E5;
    background-image: url(../../img/workplace-results-professional-report-accounting-during\ 1.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 100px 226px;
}

body > .navigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    max-width: 100px;
    background: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    transition: max-width 0.4s ease-in 0s;
    overflow: visible;
}

.navigation > .logo {
    width: 68px;
    height: 34px;
    margin-top: 52px;
    margin-bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.navigation > .navigation-line {
    content: '';
    width: 62px;
    max-width: 62px;
    height: 4px;
    color: var(--secondary-color);
    align-self: center;
    transition: max-width 0.4s ease-in 0s;
}

.navigation-field { 
    border-radius: 25px 0 0 25px;
    margin-left: 11px;
}

.navigation-field:first-of-type {
    background-color: transparent;
}

.navigation-field > .navigation-link {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    text-decoration: none;
}

.navigation-link > .navigation-link-text {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 500;
    display: none;
    visibility: hidden;
    transition: visibility 1s;
}

.navigation:hover {
    width: 206px;
    max-width: 206px;
}

.navigation:hover .navigation-line {
    width: 128px;
    max-width: 128px;
}

.navigation:hover .navigation-link {
    justify-content: flex-start;
    margin-left: 32px;
}

.navigation:hover .navigation-link-text {
    visibility: visible;
    opacity: 1;
    display: inline;
    text-decoration: none;
}

.navigation-field:hover {
    background-color: #fff;
}

.navigation-field:hover * {
    color: var(--main-color);
}

.main-content {
    position: relative;
}

.hello {
    position: absolute;
    top: 89px;
    left: 215px;
    width: 341px;
    height: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}

.timing {
    position: absolute;
    top: 56px;
    left: 857px;
    width: 516px;
    height: 147px;
    background-color: #fff;
    border-radius: 25px;
}

.time,
.date {
    margin-top: 22px;
    margin-left: 96px;
    font-style: normal;
}

.time {
    font-size: 36px;
    line-height: 43.88px;
    color: #02577A;
}

.date {
    font-size: 24px;
    line-height: 29.26px;
    color: #000;
}

.quote {
    box-sizing: border-box;
    position: absolute;
    width: 898px;
    height: 121px;
    left: 271px;
    top: 707px;
    border: 2px solid #02577A;
    border-radius: 25px;
}

.quote-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 49px;
    margin-left: 185px;
}

.footer {
    position: absolute;
    top: 871px;
    //bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 346px;
    text-align: center;
    font-size: 11px;
    color: var(--secondary-color);
    padding: 11px 0;
    border-top: 1px solid var(--secondary-color);
}



